@model Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Index Field</h1>

<h1>Index Field 2</h1>

<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">
            <button type="button"
                    data-url="/Home/Create"
                    onclick="GoTo(this)"
                    class="NewButton btn-lg">
                <i class="fa fa-plus"></i> New
            </button>
        </div>
    </div>
</div>

<p>feature-login</p>
<h1>main</h1>

@section Scripts {
    <script>
        $(function () {

            var success = @Html.Raw(Json.Serialize(TempData["success"]));
            var error = @Html.Raw(Json.Serialize(TempData["error"]));

            if (success) {
                toastr.success(success);
            }

            if (error) {
                toastr.error(error);
            }
        });
    </script>
}
